.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 2rem;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 10px rgba(169, 169, 169, 0.2);

  &-img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    width: 100%;
  }

  &-title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 0.75rem;
    width: 100%;
    padding: 1rem;
    color: darkgray;
  }
}

@media screen and (max-width: 1200px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}